/*******************************TAG SELECTORS***************************/

body {
    background-color: #FFF8EA;
}

h1{
    color: #815B5B;
}

h3 {
    color: #815B5B;
}

a {
    text-decoration: none;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #594545;
    border-width: 5px;
    width: 3.5%;
}

/*******************************PSEUDO CLASSES**************************/

h3:hover {
    color: black;
}
/*******************************CLASS SELECTORS*************************/
/* U can give the same Class Value to more than one line(for times when u want to change more than one item to look the same) */
/* A element can have mor than one class, so it will be triggered by the style of multiple classes */

.picture_of_me {
   height: 200px;
}

.picture_of_me:hover{
    border-radius: 50%;
}

/********************************ID SELECTORS***************************/
/* IDs have to be unique, like variables(when u want a specific item to look this way, but not another)*/
/* A element can not have more than one ID*/

#heading {
    color: #815B5B;
    text-shadow: 2px 2px 5px #594545;
}